{ config, pkgs, lib, ... }:

let
  moz_overlay = import (builtins.fetchTarball
    "https://github.com/mozilla/nixpkgs-mozilla/archive/master.tar.gz");
  home-manager = builtins.fetchTarball
    "https://github.com/rycee/home-manager/archive/master.tar.gz";
  icebox = builtins.fetchTarball
    "https://github.com/icebox-nix/icebox/archive/master.tar.gz";
  netkit = builtins.fetchTarball
    "https://github.com/icebox-nix/netkit.nix/archive/master.tar.gz";
  std =
    builtins.fetchurl "https://github.com/icebox-nix/std/raw/master/std.nix";
in {
  imports = [
    ./hardware-configuration.nix
    "${icebox}"
    "${netkit}"
    ./plugins
    "${home-manager}/nixos"
  ];

  home-manager.useUserPackages = true;

  icebox = {
    users = {
      plugins = [ "hm-fix" "ash-profile" ];
      users = {
        root = {
          regular = {
            hashedPassword =
              "$6$TqNkihvO4K$x.qSUVbLQ9.IfAc9tOQawDzVdHJtQIcKrJpBCBR.wMuQ8qfbbbm9bN7JNMgneYnNPzAi2k9qXk0klhTlRgGnk0";
          };
          configs = { };
        };
        ash = {
          regular = {
            hashedPassword =
              "$6$FAs.ZfxAkhAK0ted$/aHwa39iJ6wsZDCxoJVjedhfPZ0XlmgKcxkgxGDE.hw3JlCjPHmauXmQAZUlF8TTUGgxiOJZcbYSPsW.QBH5F.";
            shell = pkgs.zsh;
            isNormalUser = true;
            # wheel - sudo
            # networkmanager - manage network
            # video - light control
            # libvirtd - virtual manager controls.
            extraGroups = [ "wheel" "networkmanager" "video" ];
          };
          configs = {
            ash-profile = {
              enable = true;
              extraPackages = with pkgs; [
                (python3.withPackages (ps: [ ps.tkinter ]))
                htop
                deluge
                zoom-us
                thunderbird
                spotify
                firefox-wayland
                tdesktop
                minecraft
                gnome3.gnome-boxes
                (texlive.combine {
                  inherit (texlive) scheme-basic wrapfig ulem capt-of metafont;
                })
                steam
                gparted
                etcher
                #vlc
                pavucontrol
                #calibre
                tor-browser-bundle-bin
                latest.rustChannels.stable.rust
                ifuse
                libimobiledevice
                onlyoffice-desktop
              ];
            };
            ashde = {
              enable = false;
              # Adapt followings to what your device profile supplied
              battery = "BAT0";
              power = "AC";
              network-interface = "wlp0s20f3";
            };
          };
        };
      };
    };

    devices = {
      # Change the plugin list accordingly to the `bio-auth` option of `x1c7` plugin
      plugins = [ "x1c7" ];
      configs = {
        x1c7 = {
          # Choose "howdy", "fprintd", or null.
          bio-auth = "fprintd";
        };
        # x1c7 would automatically enable howdy and set necessary configuratons.
        howdy.pamServices = [ "sudo" "login" "polkit-1" ];
      };
    };

    lib = {
      modules = [ (import "${std}" { lib = lib; }) ];
      configs = {
        system = {
          # Path to directories (always use absolute path to avoid trouble in nixos-install, because we will copy the whole configuration to the same folder under LiveCD).
          # If you don't understand, just keep it as it is.
          dirs = {
            secrets = /etc/nixos/secrets; # Did you read the comments above?
            dotfiles = /etc/nixos/dotfiles;
          };
          bluetooth = {
            # Force enable/disable bluetooth
            # enable = true;
            # Choose default bluetooth service
            service = null;
          };
        };
        devices = {
          # resume_offset value. Obtained by <literal>filefrag -v /var/swapFile | awk '{ if($1=="0:"){print $4} }'</literal>
          # If you want to hibernate, you MUST set it properly.
          swapResumeOffset = 13742080;
        };
      };
    };

    system = {
      plugins = [
        "x-os"
        "gnome"
        "clash"
        "onlyoffice-desktop"
        "wifi-relay"
        "minecraft-server"
      ];
      stateVersion = "19.09";
      configs = {
        x-os = {
          enable = true;
          hostname = "nixos";
          # Use TUNA Mirror together with original cache because TUNA has better performance inside Mainland China.
          # Set the list to `[ ]` to use official cache only.
          binaryCaches =
            [ "https://mirrors.tuna.tsinghua.edu.cn/nix-channels/store" ];
          # Choose ibus engines to apply
          ibus-engines = with pkgs.ibus-engines; [ libpinyin ];
        };

        clash = {
          enable = true;
          redirPort =
            7892; # This must be the same with the one in your clash.yaml
        };

        wifi-relay = {
          interface = "wlp0s20f3";
          ssid = "AP-Freedom";
          passphrase = "88888888";
        };

        minecraft-server.port = 33333;
      };
    };

    overlays = [ moz_overlay ];
  };
}
