# Options of configuration

{ config, pkgs, lib, ... }: {
  local = {
    users = {
      ash = {
        enable = true;
        # Adapt followings to what your device profile supplied
        battery = "BAT0";
        power = "AC";
        network-interface = "wlp0s20f3";
        extraPackages = with pkgs; [
          deluge
          zoom-us
          thunderbird
          spotify
          firefox
          tdesktop
          minecraft
          virtmanager
          texlive.combined.scheme-full
          steam
          etcher
          vlc
          pavucontrol
          calibre
          tor-browser-bundle-bin
          latest.rustChannels.stable.rust
        ];
      };
    };

    devices = {
      x1c7 = {
        enable = true;
        # Choose "howdy", "fprintd", or null.
        bio-auth = null;
      };
    };

    system = {
      hostname = "nixos";
      # Use TUNA Mirror together with original cache because TUNA has better performance inside Mainland China.
      # Set the list to `[ ]` to use official cache only.
      binaryCaches =
        [ "https://mirrors.tuna.tsinghua.edu.cn/nix-channels/store" ];
      proxy = {
        redirPort =
          7892; # This must be the same with the one in your clash.yaml
      };
      # Choose ibus engines to apply
      ibus-engines = with pkgs.ibus-engines; [ libpinyin ];
    };

    share = {
      # Path to directories (use relative paths to avoid trouble in nixos-install.)
      # If you don't understand, just keep it as it is.
      dirs = {
        secrets = ./secrets; # Did you read the comments above?
        dotfiles = ./dotfiles;
      };

      # resume_offset value. Obtained by <literal>filefrag -v /swapfile | awk '{ if($1=="0:"){print $4} }'</literal>
      # If you want to hibernate, you MUST set it properly.
      # swapResumeOffset = 36864;

      bluetooth = {
        # Force enable/disable bluetooth
        # enable = true;
        # Choose default bluetooth service
        service = "blueman";
      };
    };
  };
}
