# Options of configuration

{ pkgs, ... }: {
  lib = {
    users = {
      ash = {
        enable = true;
        packages = with pkgs; [
          deluge
          hunspell
          hunspellDicts.en-us-large
          zoom-us
          thunderbird
          spotify
          firefox
          tdesktop
          emacs
          minecraft
          virtmanager
          # texlive.combined.scheme-full
          steam
          i3lock
          xss-lock
          xautolock
        ];
      };
    };

    devices = {
      x1c7 = {
        enable = true;
        # Only enable one of these auth methods!
        enableHowdy = false;
        enableFprintd = false;
      };
    };

    system = {
      hostname = "nixos";
      # Use TUNA Mirror together with original cache because TUNA has better performance inside Mainland China.
      # Set the list to `[ ]` to use official cache only.
      binaryCaches =
        [ "https://mirrors.tuna.tsinghua.edu.cn/nix-channels/store" ];
      proxy = {
        user =
          "ash"; # The user who would run the transparent proxy systemd service
        address = "127.0.0.1";
        localPort = 1080;
        redirPort = 1081;
      };
      ibus-engines = with pkgs.ibus-engines; [ libpinyin ];
    };
  };
}
